*{
    margin: 0px;
    padding: 0px;
}


body{
           
    background-image:url(re.jpg);
    color: rgba(77, 7, 45, 0.938);
    text-align: center;
}

footer {
    text-align: right;
    color: rgb(128, 68, 113);
}

article {
   
    color: rgba(77, 7, 45, 0.938);
}

h1 {
    font-size: 40px;
    font-family:cursive;
    font-style: italic;
    margin: 40px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    margin: 15px;
}
p{
    font-weight:lighter;
    font-family:cursive;
    font-style: italic;
    font-size: 15px;
    margin: 30px;
    
}

aside{
    font-style: italic;
    font-size: 15px;
}
footer{
    font-size: 10px;
    font-family: fantasy;
}
body,article,footer,nav,section {
    display: block;
    
}
blockquote{
    text-align: left;
}
div{
    width:auto;
    margin: auto;
    margin-top: 100px;

}
.comentarios{
    text-align: center;
}
.fb{
    text-align: right;
} 
.menu{
    font-family:fantasy;
    font-size: 20px;
    font-style:unset;
}
.menu li {
    
    border: 1px solid rgb(196, 80, 67);
    display: inline-block;
    padding: 5px;
  

}
.seccion{
  
} 